        body {
            font-family: Roboto, sans-serif;
            color: #434455;
            background-color: #fff;
            margin: 0;
            padding: 0;
        }
        
        header {
            font-family: inherit;
            background-color: inherit;
        }
        
        footer a {
            font-family: Raleway, sans-serfi;
        }
        
        header a {
            font-family: Raleway, sans-serfi;
            height: 72px;
            line-height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        a,
        a:visited,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            color: inherit;
        }
        
        p {
            line-height: 24px;
        }
        
        h1 {
            font-family: inherit;
            color: white;
            font-weight: 700;
            font-size: 56px;
            line-height: 60px;
            padding-top: 240px;
            text-align: center;
            margin: inherit;
            position: relative;
        }
        
        h2 {
            font-family: inherit;
            color: #2E2F42;
            font-size: 36px;
            line-height: 40px;
            text-align: center;
            padding: 60px;
        }
        
        h3 {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
        }
        
        ul,
        ol {
            list-style: none;
            padding: 0;
            margin: 0;
            text-decoration: none;
        }
        
        .container {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1440px;
        }
        
        li {
            text-decoration: none;
            list-style: none;
            display: flex;
        }
        
        nav .container {
            display: flex;
        }
        
        nav ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            gap: 20px;
        }
        
        nav ul li {
            margin: 0;
            padding: 0;
        }
        
        nav ul li a {
            text-decoration: none;
            color: #333;
            font-family: inherit;
            margin: 0;
            padding: 0;
        }
        
        .filter-buttons {
            text-align: center;
            margin: 100px auto 50px auto;
            position: relative;
        }
        
        .filter-buttons button {
            background-color: #f4f4fe;
            border: 1px solid #ddd;
            padding: 12px 24px 12px 24px;
            margin: 0 10px;
            cursor: pointer;
            color: #404bbf;
            border-radius: 3px;
            font-family: inherit;
        }
        
        .filter-buttons button.active {
            background-color: #4A90E2;
            color: #fff;
            border: none;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        }
        
        button:hover {
            background-color: #404BBF;
            color: #fff;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
        }
        
        .portfolio-img {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            gap: 15px;
        }
        
        .portfolio-img>div {
            flex: 0 1 calc(33.33% - 15px);
            box-sizing: border-box;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
        }
        
        .portfolio-img h3,
        .portfolio-img p {
            width: 100%;
            margin: 10px 0;
            ;
        }
        
        .portfolio-img img {
            width: 100%;
            height: auto;
            align-items: center;
        }
        
        .contact-info {
            display: flex;
            align-items: flex-end;
        }
        
        .left-side {
            display: flex;
            align-items: start;
        }
        
        footer {
            background-color: #2e2f43;
            color: #ffffff;
            font-family: inherit;
            width: auto;
            height: 312px;
            margin: 0;
            padding: 0;
        }
        
        footer p {
            display: block;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            color: #f4f4fc;
            max-width: 280px;
        }
        
        footer a {
            display: block;
            line-height: 24px;
            font-size: 16px;
            text-align: left;
            color: #f4f4fc;
            padding-top: 80px;
        }
        
        footer .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
        }
        
        .hero {
            width: auto;
            height: 600px;
            background-color: #2E2F42;
            position: relative;
        }
        
        .hero:before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background-image: url(../images/people-office.jpg);
            background-repeat: no-repeat;
            background-position: 50% 0;
            background-size: cover;
        }
        
        .team {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            flex-wrap: nowrap;
        }
        
        .team li {
            flex: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: calc(100% / 4 - 20px);
            background-color: white;
            line-height: 24px;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
            border-radius: 0px, 0px, 4px, 4px;
        }
        
        .team img {
            width: 100%;
            height: auto;
            display: block;
            margin: auto;
            gap: 32px;
        }
        
        .team h3 {
            margin: 10px 0 5px 0;
            font-size: 20px;
            padding-top: 20px;
        }
        
        .team p {
            margin: 0;
            font-size: 1em;
            color: #666;
            padding-bottom: 20px;
        }
        
        .light-bg {
            background-color: #F4F4FD;
            height: 732px;
            margin-top: 120px;
            padding-bottom: 100px;
        }
        
        section {
            margin-top: 120px;
        }
        
        .logo-color-web {
            color: #4D5AE5;
        }
        
        .is-hidden {
            display: none;
        }
        
        .modal {
            /* Add styles to position and style the modal */
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
        
        .modal .close-button {
            cursor: pointer;
            font-size: 1.5em;
        }
        
        .social-icons {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            padding-bottom: 30px;
        }
        
        .social-icons a {
            display: inline-block;
        }
        
        .solution-box {
            height: 112px;
            background-color: #F4F4FD;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .solutions {
            padding: 20px;
        }
        
        .solution-box img {
            height: 100%;
            display: flex;
            justify-content: center;
        }
        
        .customer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
            padding-bottom: 120px;
        }
        
        .customers-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15.27%;
            height: 88px;
            margin: 10px;
            box-sizing: border-box;
            border: 1px solid #8E8F99;
        }
        
        .customers-box img {
            max-width: 80%;
            max-height: 80%;
            object-fit: contain;
        }