body {
    font-family: sans-serif;
    color: #000;
    background-color: #fff;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}