    body {
        font-family: Roboto, sans-serif;
        color: #434455;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
    
    a,
    a:visited,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
    }
    
    ul,
    ol {
        list-style: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    li {
        text-decoration: none;
        list-style: none;
        display: flex;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        margin-left: 20px;
        text-align: left;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #333;
        font-family: inherit;
    }
    
    .filter-buttons {
        text-align: center;
        margin: 100px auto 50px auto;
    }
    
    .filter-buttons button {
        background-color: #f4f4fe;
        border: 1px solid #ddd;
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        color: #404bbf;
        border-radius: 3px;
        font-family: inherit;
    }
    
    .filter-buttons button.active {
        background-color: #4A90E2;
        color: #fff;
        border: none;
    }
    
    button:hover {
        background-color: #404BBF;
        color: #fff;
    }
    
    .portfolio-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 15px;
    }
    
    .portfolio-img>div {
        flex: 0 1 calc(33.33% - 15px);
        box-sizing: border-box;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        border: #434455;
    }
    
    .portfolio-img h3,
    .portfolio-img p {
        width: 100%;
        margin: 10px 0;
    }
    
    .portfolio-img img {
        width: 100%;
        height: auto;
        align-items: center;
    }
    
    .contact-info {
        display: flex;
        align-items: flex-end;
    }
    
    .left-side {
        display: flex;
        align-items: start;
    }